# OS Created Files

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# IDE Files
.metadata/*
.settings/*
.project
.buildpath
.ExternalToolBuilders
.idea
.vscode

# Local files
conf/*.ini
conf/*.lst
.php_cs_cache
.psalm_cache
.phpstan_cache
*.log
mappings/*.map
mappings/*.php
reports
transformations/*.properties
transformations/*.xsl
vendor
tests/.phpunit.cache
tests/.phpunit.result.cache

