parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        - %currentWorkingDirectory%/src/RecordManager/Base/Database/MongoDatabase.php
    bootstrapFiles:
        - %currentWorkingDirectory%/tests/bootstrap.php
    tmpDir: %currentWorkingDirectory%/.phpstan_cache
    parallel:
        processTimeout: 600.0
    level: 6
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
