; genreform ---------------------------------------------------
Document/Arkisto = Document/ArchiveFonds
Document/Kokoelma = Document/ArchiveCollection
Document/Määrittämätön = Document/OtherCollection
Other/Määrittämätön = Other/Undefined


;Jatkuva julkaisu = Other/ContinuouslyUpdatedResource

Data = Other/Data

Esine = PhysicalObject

Kuva = Image/Image
Kuva/Juliste = Image/Image
Kuva/Kartta = Map/Map
Kuva/Maalaus = WorkOfArt/Painting
Kuva/Painokuva = Image/Image
Kuva/Piirustus = Image/Drawing
Kuva/Tekninen piirustus = Image/Drawing
Kuva/Valokuva = Image/Photo

Nuotit = MusicalScore/Manuscript
Nuotit/Nuottijulkaisu = MusicalScore/MusicalScore
Nuotit/Nuottikäsikirjoitus = MusicalScore/Manuscript

;Mikrofilmi = Other/Microfilm

Teksti = OtherText/Text
Teksti/Kirje = OtherText/Letter
Teksti/Käsikirjoitus = OtherText/Manuscript
Teksti/Lehtileikkeet ja pienpainatteet = OtherText/Ephemera
Teksti/Määrittämätön = OtherText/Text
Teksti/Päiväkirja = OtherText/Diary
Teksti/Teksti = OtherText/Text

Ääni = Sound/SoundRecording
Ääni/Haastattelu = Sound/Interview
Ääni/Musiikki = Sound/MusicRecording
Ääni/Radio-ohjelma = Sound/NonmusicalRecordingProgram
Ääni/Tapahtumatallenne = Sound/EventRecording

Video/Elävä kuva = Video/Other
Video/Haastattelu = Video/Interview
Video/TV-ohjelma = Video/TvProgram
Video/Tapahtumatallenne = Video/EventRecording

Määrittämätön = Other/Other


;##default = Other/Other



