 = Other/Text
Text = Other/Text
Master's thesis = Thesis/Masters
Sound = Sound/SoundRecording
Image = Image/Image
Bachelor's thesis = Thesis/Bachelors
Doctoral thesis (article-based) = Thesis/Thesis
Doctoral dissertation = Thesis/Thesis
Series = Other/Series
Pro Gradu = Thesis/Gradu
Dataset = Other/ResearchData
##default = Other/Text
