Asiantuntija tai ammattilainen = Professional
Erityisopetus = Special Education
Huoltaja = Parent
Kansalainen = General Public
Ohjaaja tai mentori = Mentor
Opettaja = Teacher
Opetuksen ja kasvatuksen johtaja = Administrator
Oppija = Student
Vertaistutor = Peer Tutor

Administratör = Professional
Allmänheten = General Public
Elev = Student
Expert = Professional
Förälder = Parent
Handledare = Mentor
Jämbördig tutor = Peer Tutor
Lärare = Teacher
specialundervisning = Special Education