https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1007 = Linux
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1008 = Mac OS 8
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1009 = Mac OS 9
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1010 = Mac OS X
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1011 = Xbox
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1012 = Xbox
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1013 = Xbox
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1014 = Xbox 360
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1015 = Xbox 360
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1016 = Xbox 360
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1017 = Xbox One
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1018 = MS-DOS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1019 = MS-DOS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1020 = MS-DOS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1021 = MS-DOS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1022 = New 3DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1023 = 3DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1024 = 3DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1025 = 3DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1026 = N64
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1027 = N64
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1028 = N64
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1029 = DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1030 = DSi
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1031 = DSi
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1032 = DSi
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1033 = NES
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1034 = NES
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1035 = NES
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1036 = Famicom
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1037 = GB
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1038 = GBA
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1039 = GBC
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1040 = GameCube
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1041 = GameCube
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1042 = GameCube
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1043 = GameCube
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1044 = Super Famicom
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1045 = Wii
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1046 = Wii
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1047 = Wii
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1048 = Wii
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1049 = Wii U
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1050 = Wii U
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1051 = Wii U
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1052 = Sega CD
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1053 = Dreamcast
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1054 = Game Gear
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1055 = Genesis
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1056 = Genesis
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1057 = Genesis 32X
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1058 = Mega Drive
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1059 = Mega Drive 32X
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1060 = Mega-CD
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1061 = Mega-CD
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1062 = Saturn
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1063 = Saturn
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1064 = Super 32X
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1065 = PS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1067 = PS2
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1068 = PS2
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1069 = PS2
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1070 = PS3
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1071 = PS4
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1072 = PSP
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1073 = PS Vita
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1074 = SNES
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1075 = SNES
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1076 = Windows 3.1
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1077 = Windows 7
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1078 = Windows 8
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1079 = Windows 8.1
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1080 = Windows 95
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1081 = Windows 98
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1082 = Windows ME
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1083 = Windows Vista
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1084 = Windows XP
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1087 = PS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1088 = PS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1089 = Saturn
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1092 = System 6
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1094 = System 7
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1096 = Mac OS X v10.0
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1098 = Mac OS X v10.1
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1100 = Mac OS X v10.2
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1102 = Mac OS X v10.3
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1104 = Mac OS X v10.4
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1105 = Mac OS X v10.5
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1106 = Mac OS X v10.6
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1107 = Mac OS X v10.7
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1108 = OS X v10.8
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1109 = OS X v10.9
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1110 = OS X v10.10
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1116 = Mac OS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1117 = Windows
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1118 = MS-DOS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1119 = Xbox
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1120 = Xbox 360
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1121 = 3DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1122 = N64
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1123 = DSi
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1124 = New 3DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1125 = New 3DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1126 = New 3DS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1127 = NES
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1128 = GameCube
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1129 = Wii
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1130 = Wii U
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1132 = Genesis
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1133 = Mega-CD
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1135 = Saturn
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1136 = PS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1138 = PS2
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1139 = SNES
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1140 = Atari VCS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1141 = Atari VCS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1142 = Atari VCS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1143 = Atari VCS
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1145 = Arcadia 2001
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1148 = Switch
https?://(www\.gamemetadata\.org|gamemetadata\.soe\.ucsc\.edu)/platform/1150 = Virtual Boy

.*3DS.* = 3DS
.*Mac\s*OS X v?([\d\.]+).* = Mac OS X v$1
.*Mac\s*OS v?([\d\.]+).* = Mac OS X v$1
.*Mac\s*OS X.* = Mac OS X
.*Mac\s*OS.* = Mac OS
.*Nintendo\s*DS.* = DS
.*Nintendo\s*Switch.* = Switch
.*Play[Ss]tation\s*(\d).* = PS$1
.*PS\s*Vita.* = PS Vita
.*Play[Ss]tation Vita.* = PS Vita
.*PSP.* = PSP
.*Play[Ss]tation\s*Portable.* = PSP
.*Play[Ss]tation.* = PS
.*PS\s*(\d).* = PS$1
.*Xbox\s*360.* = Xbox 360
.*Xbox\s*One.* = Xbox One
.*Microsoft Series X.* = Xbox X
.*Xbox Series X.* = Xbox X

.*\bNES\b.* = NES
.*\bSNES\b.* = SNES
.*\bN64\b.* = N64
.*\bPC\b.* = PC
.*\bCD-ROM\b.* = PC
.*\bPS\b.* = PS
.*Wii U.* = Wii U
.*\bWii\b.* = Wii
.*\bWindows\b.* = Windows

(.{1,20}) = UNMAPPED:$1

.* =
