; Map FORWARD (EN 15907) roles to RDA roles 

(.(^###))*###a00 = ${1}###oth
(.(^###))*###a01 = ${1}###aus
(.(^###))*###a02 = ${1}###aus
(.(^###))*###a03 = ${1}###aus
(.(^###))*###a05 = ${1}###lyr
(.(^###))*###a06 = ${1}###cmp
(.(^###))*###a08 = ${1}###pht
(.(^###))*###a09 = ${1}###aut
(.(^###))*###a10 = ${1}###org
(.(^###))*###a11 = ${1}###dsr
(.(^###))*###a12 = ${1}###ill
(.(^###))*###a13 = ${1}###pht
(.(^###))*###a31 = ${1}###lyr
(.(^###))*###a38 = ${1}###org
(.(^###))*###a43 = ${1}###ivr
(.(^###))*###a50 = ${1}###aud
(.(^###))*###a99 = ${1}###oth
(.(^###))*###b01 = ${1}###flm
(.(^###))*###b05 = ${1}###arr
(.(^###))*###b06 = ${1}###trl
(.(^###))*###b13 = ${1}###flm
(.(^###))*###b17 = ${1}###org
(.(^###))*###b19 = ${1}###flm
(.(^###))*###b24 = ${1}###edt
(.(^###))*###b25 = ${1}###arr
(.(^###))*###d01 = ${1}###fmp
(.(^###))*###d02 = ${1}###drt
(.(^###))*###d03 = ${1}###cnd
(.(^###))*###d99 = ${1}###drt
(.(^###))*###e01 = ${1}###act
(.(^###))*###e02 = ${1}###dnc
(.(^###))*###e03 = ${1}###nrt
(.(^###))*###e04 = ${1}###cmm
(.(^###))*###e05 = ${1}###sng
(.(^###))*###e06 = ${1}###mus
(.(^###))*###e08 = ${1}###mus
(.(^###))*###e10 = ${1}###fmp
(.(^###))*###f01 = ${1}###cng
(.(^###))*###f02 = ${1}###edt
(.(^###))*###f99 = ${1}###rce
