; Map FORWARD (EN 15907) roles to RDA roles 

A00 = oth
A01 = aus
A02 = aus
A03 = aus
A05 = lyr
A06 = cmp
A08 = pht
A09 = aut
A10 = org
A11 = dsr
A12 = ill
A13 = pht
A31 = lyr
A38 = org
A43 = ivr
A50 = aud
A99 = oth
B01 = flm
B05 = arr
B06 = trl
B13 = flm
B17 = org
B19 = flm
B24 = edt
B25 = arr
D01 = fmp
D02 = drt
D03 = cnd
D99 = drt
E01 = act
E02 = dnc
E03 = nrt
E04 = cmm
E05 = sng
E06 = mus
E08 = mus
E10 = pro
F01 = cng
F02 = edt
F99 = rce
