CC0[] = lic_A
CC0[] = lic_B
CC0[] = lic_C
CC0[] = lic_D
CC0[] = lic_E
CC BY 4.0[] = lic_B 
CC BY 4.0[] = lic_C
CC BY 4.0[] = lic_D
CC BY 4.0[] = lic_E
CC BY[] = lic_B 
CC BY[] = lic_C 
CC BY[] = lic_D 
CC BY[] = lic_E 
CC BY-SA 3.0[] = lic_B
CC BY-SA 3.0[] = lic_C
CC BY-SA 3.0[] = lic_D
CC BY-ND 4.0[] = lic_C
CC BY-ND 4.0[] = lic_E
CC BY -NC 4.0[] = lic_D
CC BY -NC -ND 4.0[] = lic_E
CC BY -NC -SA 4.0[] = lic_D
CC BY -NC -SA 4.0[] = lic_E
CC BY-NC-ND 4.0[] = lic_E
Ei tunnettuja oikeudellisia rajoitteita[] = lic_B
Ei tunnettuja oikeudellisia rajoitteita[] = lic_C
Ei tunnettuja oikeudellisia rajoitteita[] = lic_D
Ei tunnettuja oikeudellisia rajoitteita[] = lic_E
Public Domain Mark[] = lic_A
Public Domain Mark[] = lic_B
Public Domain Mark[] = lic_C
Public Domain Mark[] = lic_D
Public Domain Mark[] = lic_E
##default = lic_F
