arkeologinen kohde = Other/ArchaeologicalSite
arkisto = Document/Archive
arkistoaineisto = Document/ArchiveMaterial
Arkistoaineisto = Document/ArchiveMaterial
auktorisoitu dokumentti = Document/Authorized
esine = PhysicalObject/Other
Esine = PhysicalObject/Other
esineteos = WorkOfArt/Physical
fotomekaaniset menetelmät = Image/PhotoMechanic
grafiikka = WorkOfArt/Graphic
installaatio = WorkOfArt/Installation
kartta = Map/Map
kirja = Book/Book
kulttuurihistoriallinen esine = PhysicalObject/CultureHistoricalObject
kuva = Image/Image
Kuva = Image/Image
käsikirjoitus = Other/Manuscript
liikkuva kuva = Video/MotionPicture
maalaus = WorkOfArt/Painting
mediataide = WorkOfArt/MediaArt
mosaiikki = WorkOfArt/Mosaic
nuotti = MusicalScore
painettu tekstijulkaisu = Other/Print
painotuote = Other/Print
piirustus = WorkOfArt/Drawing
Piirustus = WorkOfArt/Drawing
rakennetun ympäristön kohde = Other/Building
rakennus = Other/Building
taideteollisuus = WorkOfArt/ArtIndustry
taideteollisuusesine = PhysicalObject/ArtIndustry
taiteilijan työvälineet = PhysicalObject/ArtistsTool
tekstiiliteos = WorkOfArt/Textile
työkalut = PhysicalObject/Tool
veistos = WorkOfArt/Sculpture
valokuva = Image/Photo
ympäristötaide = WorkOfArt/Environment
ympäristöteos = WorkOfArt/Environment
