Article = Journal/Article
Atlas = Map/Atlas
BachelorsThesis = Thesis/Bachelors
BachelorsThesisPolytechnic = Thesis/BachelorsPolytechnic
BluRay = Video/BluRay
BoardGame = Game/BoardGame
Book = Book/Book
BookSection = Book/BookSection
Braille = Book/Braille
CD = Sound/CD
CDROM = Other/CDROM
Chart = Map/Map
ChipCartridge = Other/ChipCartridge
Collage = WorkOfArt/Collage
Collection = Other/Collection
ContinuouslyUpdatedResource = Other/ContinuouslyUpdatedResource
Database = Database
DVD = Video/DVD
DVDROM = Other/DVDROM
DVDAudio = Sound/DVDAudio
DiscCartridge = Other/DiscCartridge
Dissertation = Thesis/Thesis
Drawing = WorkOfArt/Drawing
Electronic = Other/Electronic
Filmstrip = Image/Filmstrip
FlashCard = Image/FlashCard
FloppyDisk = Other/FloppyDisk
Globe = Map/Globe
Image = Image/Image
Journal = Journal/Journal
Kit = Other/Kit
LaudaturThesis = Thesis/Laudatur
LicentiateThesis = Thesis/Licentiate
Manuscript = OtherText/Manuscript
Map = Map/Map
MastersThesis = Thesis/Masters
MastersThesisPolytechnic = Thesis/MastersPolytechnic
Microfilm = Other/Microfilm
MotionPicture = Video/MotionPicture
MusicRecording = Sound/MusicRecording
MusicalScore = MusicalScore
Newspaper = Journal/Newspaper
NonmusicalCD = Sound/NonmusicalCD
NonmusicalCassette = Sound/NonmusicalCassette
NonmusicalDisc = Sound/NonmusicalDisc
NonmusicalRecording = Sound/NonmusicalRecording
NonmusicalRecordingOnline = Sound/NonmusicalRecordingOnline
OnlineVideo = Video/Online
Other = Other/Other
Painting = WorkOfArt/Painting
Photo = Image/Photo
Photonegative = Image/Photonegative
PhysicalObject = PhysicalObject
Print = Other/Print
ProGradu = Thesis/Gradu
SensorImage = Image/SensorImage
Serial = Journal/Serial
Slide = Image/Slide
Software = Other/Software
SoundCassette = Sound/SoundCassette
SoundDisc = Sound/SoundDisc
SoundRecording = Sound/SoundRecording
SoundRecordingOnline = Sound/SoundRecordingOnline
SubUnit = Other/SubUnit
TapeCartridge = Other/TapeCartridge
TapeCassette = Other/TapeCassette
TapeReel = Other/TapeReel
TechnicalDrawing = Image/Drawing
Thesis = Thesis/Other
Transparency = Image/Transparency
Video = Video/Video
VideoCartridge = Video/VideoCartridge
VideoCassette = Video/VideoCassette
VideoCompilation = Video/Compilation
VideoDisc = Video/VideoDisc
VideoFeature = Video/Feature
VideoGame = Game/VideoGame
VideoReel = Video/VideoReel
VideoShort = Video/Short
eArticle = Journal/eArticle
eBook = Book/eBook
eBookSection = Book/eBookSection
eJournal = Journal/eJournal
eNewspaper = Journal/eNewspaper
eSerial = Journal/eSerial
