; Regexp map. Note: the order is important since first match will rule over others.

^CC0$[] = usage_A
^CC0$[] = usage_B
^CC0$[] = usage_C
^CC0$[] = usage_D
^CC0$[] = usage_E

^CC[ -]*BY[ -]*NC[ -]*ND.*[] = usage_E
^https?://creativecommons\.org/licenses/by-nc-nd/.*[] = usage_E

^CC[ -]*BY[ -]*NC[ -]*SA.*[] = usage_D
^CC[ -]*BY[ -]*NC[ -]*SA.*[] = usage_E
^https?://creativecommons\.org/licenses/by-nc-sa/.*[] = usage_D
^https?://creativecommons\.org/licenses/by-nc-sa/.*[] = usage_E

^CC[ -]*BY[ -]*SA.*[] = usage_B
^CC[ -]*BY[ -]*SA.*[] = usage_C
^CC[ -]*BY[ -]*SA.*[] = usage_D
^CC[ -]*BY[ -]*SA.*[] = usage_E
^https?://creativecommons\.org/licenses/by-sa/.*[] = usage_B
^https?://creativecommons\.org/licenses/by-sa/.*[] = usage_C
^https?://creativecommons\.org/licenses/by-sa/.*[] = usage_D
^https?://creativecommons\.org/licenses/by-sa/.*[] = usage_E

^CC[ -]*BY[ -]*ND.*[] = usage_C
^CC[ -]*BY[ -]*ND.*[] = usage_E
^https?://creativecommons\.org/licenses/by-nd/.*[] = usage_C
^https?://creativecommons\.org/licenses/by-nd/.*[] = usage_E

^CC[ -]*BY[ -]*NC.*[] = usage_D
^https?://creativecommons\.org/licenses/by-nc/.*[] = usage_D

^CC[ -]*BY[ \.\d]*[] = usage_B
^CC[ -]*BY[ \.\d]*[] = usage_C
^CC[ -]*BY[ \.\d]*[] = usage_D
^CC[ -]*BY[ \.\d]*[] = usage_E
^https?://creativecommons\.org/licenses/by/.*[] = usage_B
^https?://creativecommons\.org/licenses/by/.*[] = usage_C
^https?://creativecommons\.org/licenses/by/.*[] = usage_D
^https?://creativecommons\.org/licenses/by/.*[] = usage_E

^No known copyright restrictions$[] = usage_B
^No known copyright restrictions$[] = usage_C
^No known copyright restrictions$[] = usage_D
^No known copyright restrictions$[] = usage_E

^Public [Dd]omain.*[] = usage_A
^Public [Dd]omain.*[] = usage_B
^Public [Dd]omain.*[] = usage_C
^Public [Dd]omain.*[] = usage_D
^Public [Dd]omain.*[] = usage_E

^https?://creativecommons\.org/publicdomain/.*[] = usage_A
^https?://creativecommons\.org/publicdomain/.*[] = usage_B
^https?://creativecommons\.org/publicdomain/.*[] = usage_C
^https?://creativecommons\.org/publicdomain/.*[] = usage_D
^https?://creativecommons\.org/publicdomain/.*[] = usage_E

; By default map to empty value:
##default =
; If mappings of all values results in empty, use the following:
##mappedemptyarray = usage_F
