[Site]
; Find valid timezone values here:
;   http://www.php.net/manual/en/timezones.php
timezone        = "Europe/Helsinki"
; Abbreviations that need to be considered before removing trailing period
abbreviations = abbreviations.lst
; A file that contains title prefixes. If a title starts with a listed title prefix, 
; it will not be shortened in title_keys (for deduplication). Add frequently found 
; titles, such as "visual approach chart" to the list 
;full_title_prefixes = full-title-prefixes.lst
; Articles that should be removed from the beginning of a title for sorting
articles = articles.lst
; Deduplication handler class
; dedup_handler = DedupHandler

; These settings control the OAI-PMH harvester
[Harvesting]
; Number of attempts to fetch data from the OAI-PMH provider. Default is 5.
; Allows harvesting to continue despite of e.g. temporary network problems.
;max_tries = 10
; Wait time between request attempts in seconds. Default is 30.
;retry_wait = 120

[Mongo]
; url = mongodb://{username}:{password}@localhost
;url = mongodb://localhost
; Use a unix socket like below, if possible. It can be an order of magnitude faster than TCP/IP. 
url = mongodb:///tmp/mongodb-27017.sock
; Database to use
database = recman
; Whether to ask MongoDB for counts of records to be processed. Can be really slow.
counts = false
; Whether to compress record data in MongoDB. Saves space but slows down the operation. 
; Not very useful when using TokuMX instead of plain MongoDB.
compress_records = false
; Connection timeout in milliseconds. Default is 300 000 ms.
; connect_timeout = 12000000
; Cursor timeout. Might be needed if a cursor doesn't live long enough for the whole operation to complete.
; cursor_timeout = 12000000

[Solr]
; Note that RecordManager requires that the json update method be available
; In Solr 4 the same update url is used for all formats, so remove /json 
update_url = http://localhost:8080/solr/biblio/update/json
;background_update = true
max_commit_interval = 1000000
username =
password =
;hierarchical_facets[] = building
;merge_records = true
;merged_fields = institution,collection,my_local_field_str_mv
;single_fields = title,publishDateSort
;format_in_allfields = true
unicode_normalization_form = NFKC
; Maximum number of tries to send an update to Solr. Default is 15.
;max_update_tries = 5
; Wait time between Solr update request attempts in seconds. Default is 60.
;update_retry_wait = 30
;background_update = 10
;threaded_merged_record_update = true

[OAI-PMH]
; Repository name returned in the Identify response
repository_name = OAI-PMH Repository
; Repository base URL returned in the Identify response
base_url = http://base.address
; Repository admin email address returned in the Identify response
admin_email = nobody@localhost
; Maximum number of results to return for a single request (resumptionToken is used
; if there are more results to be returned) 
result_limit = 1000
; Name of the .ini file containing metadata format definitions
format_definitions = oai-pmh-formats.ini
; Name of the .ini file containing record set definitions
set_definitions = oai-pmh-sets.ini
; Record ID prefix used to create an OAI ID for records that don't already have one.
; To create an OAI ID, the record ID is appended to the prefix. 
id_prefix = "oai:base.address:"

[Record Classes]
;ead = NdlEadRecord

[Enrichment]
; Maximum lifetime of cached entries in minutes. Default is 1440 (24 hours)
;cache_expiration = 1440

[Log]
log_file        = /var/log/recman.log
log_level       = 4
error_email     = 

; The following section contains parameters passed to the HTTP client.
; See https://pear.php.net/manual/en/package.http.http-request2.config.php for
; documentation on the valid parameters.
[HTTP]
;adapter = HTTP_Request2_Adapter_Curl
;ssl_verify_peer = false

[MarcRecord]
; The following settings can be used to override the default RDA relator codes that
; are used to classify authors between primary, secondary and others (that are not 
; indexed)
;primary_author_relators = "adp,aut,cmp"
;secondary_author_relators = "act,anm,ann,arr"

[ForwardRecord]
; The following settings can be used to override the default relator codes that
; are used to classify authors between primary, secondary and others (that are not 
; indexed)
;primary_author_relators = "A00,A03,A06,A50,A99"
;secondary_author_relators = "D01,D02,E01,F01,F02"
;corporate_author_relators = ""

[Local]
; Put here locally defined settings for e.g. custom record classes
