[Site]
; Find valid timezone values here:
;   http://www.php.net/manual/en/timezones.php
timezone        = "Europe/Helsinki"

[Mongo]
; url = mongodb://{username}:{password}@localhost
url = mongodb://localhost
database = recman
counts = true
compress_records = true

[Solr]
; Note that RecordManager requires that the json update method be available
update_url = http://localhost:8080/solr/biblio/update/json
max_commit_interval = 1000000
username =
password =
;hierarchical_facets[] = building

[OAI-PMH]
repository_name = OAI-PMH Repository
base_url = http://base.address
admin_email = nobody@localhost
result_limit = 1000
format_definitions = oai-pmh-formats.ini
set_definitions = oai-pmh-sets.ini

[OAI-PMH Format Mappings]
marc21 = marc
oai_dc = dc

[Record Classes]
; ead = NdlEadRecord

[Log]
log_file        = /var/log/recman.log
log_level       = 4
error_email     = 
