; XSLT normalization settings for Koha records containing item information
[General]
; REQUIRED: Name of XSLT file to apply.  Path is relative to the transformations directory
; of the RecordManager installation.
xslt = koha.xsl
; OPTIONAL: PHP function(s) to register for use within XSLT file.  You may repeat
; this line to register multiple PHP functions.
;php_function[] = str_replace
;php_function[] = ucfirst
; OPTIONAL: PHP class filled with public static functions for use by the XSLT file.
; The class name must match the filename, and the file must exist in the transformations
; directory of the RecordManager installation.  You may repeat this line to load multiple
; custom classes.
;custom_class[] = 
;custom_class[] = 

; XSLT parameters -- any key/value pairs set here will be passed as parameters to
; the XSLT file, allowing local values to be set without modifying XSLT code.
[Parameters]
