name: CI

on: [push, pull_request]

jobs:
  run-tests:
    name: Tests with PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    env:
      VUFIND_HOME: $GITHUB_WORKSPACE
      VUFIND_LOCAL_DIR: $GITHUB_WORKSPACE/local
    strategy:
      matrix:
        php-version: ['7.4', '8.0', '8.1', '8.1-no-mongo']
        include:
          - php-version: 7.4
            phing_tasks: "qa-tasks"
            php-extensions: intl, xsl, mongodb
          - php-version: 8.0
            phing_tasks: "qa-tasks"
            php-extensions: intl, xsl, mongodb
          - php-version: 8.1
            phing_tasks: "qa-tasks"
            php-extensions: intl, xsl, mongodb
          - php-version: 8.1-no-mongo
            phing_tasks: "qa-tasks"
            php-extensions: intl, xsl

    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: ${{ matrix.php-extensions }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Cache php-cs-fixer data
        uses: actions/cache@v3
        with:
          path: .php_cs_cache
          key: "php-${{ matrix.php-version }}-php-cs-fixer-${{ github.sha }}"
          restore-keys: "php-${{ matrix.php-version }}-php-cs-fixer-"

      - name: Cache php-stan data
        uses: actions/cache@v3
        with:
          path: .phpstan_cache
          key: "php-${{ matrix.php-version }}-phpstan-${{ github.sha }}"
          restore-keys: "php-${{ matrix.php-version }}-phpstan-"

      - name: Install composer dependencies
        run: composer install

      - name: Run tests
        run: vendor/bin/phing ${{ matrix.phing_tasks }}
